/* Restablecer los márgenes y padding de los elementos principales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Restablecer el estilo de la lista */
ul {
  list-style: none; /* Eliminar puntos de lista */
}

/* Restablecer el estilo del enlace */
a {
  text-decoration: none; /* Eliminar subrayado */
}
