@use "../components/links";

.page__footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0C474B;
  display: flex;
  justify-content: center;

}

.paragraph {
  color: #b6c8c9;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  display: flex;

}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.social-brand {
  padding-top: 20px;
  padding-bottom: 10px;

}
