body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.page__main {
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}



.module-2-grid {
    background-color: #F0ebe5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    padding-left: 20px;
    padding-top: 40px;

}

.module-2-grid h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #0C474B;
    padding: 35px;

}

.module-2-grid h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #0C474B;

}

.module-2-grid p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #0C474B;
    padding-bottom: 30px;

}

.grid__item--first {
    text-align: center;

}

.grid__item--second {
    text-align: center;

}

.grid__item--third {

    text-align: center;
}

.grid__item--fouth {

    text-align: center;
}

.grid__item--fifth {

    text-align: center;
}



.module-3 {
    background-color: #FF975A;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 50px;

}

.delivery {
    text-align: center;

}

.module-3 h2 {
    margin: 10px;

}

.envio-gratis {
    font-size: small;
    text-align: center;

}

.comprar-ahora {
    font-size: medium;
    text-decoration: underline;
    margin-top: 20px;
    padding: 12px;

}


.module-4 {
    background-color: #F0EBE5;
    font-family: 'Poppins', sans-serif;
    color: #0C474B;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.module-4 h2 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    text-align: left;

}

.module-4 p {
    font-size: 14px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.bathroom {
    width: 100%;
    height: auto;
    display: block;

}

.text-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #F0EBE5;

}


@media screen and (min-width: 900px) {

    .module-2-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        padding-bottom: 50px;

    }

    .grid__item--first {
        text-align: center;
        grid-column: 1/4;

    }

    .module-4 {
        display: flex;
        flex-direction: column;

    }

}

@media screen and (min-width: 1278px) {

    .module-4 {
        display: flex;
        flex-direction: row;

    }

    .text-button {
        width: 50vw;
        justify-content: flex-start;

    }

    .bathroom {
        width: 50vw;

    }

}