<footer class="page__footer">
    <div class="footer-container">
        <nav class="footer-1">
            <ul class="links">
                <li class="title-footer">Tienda</li>
                <li>
                    <a href="https://adalab.es/" class="links-footer">Productos</a>
                </li>
                <li>
                    <a href="https://adalab.es/" class="links-footer">Cajoneras</a>
                </li>
                <li>
                    <a href="https://adalab.es/" class="links-footer">Para toda la casa</a>
                </li>
                <li>
                    <a href="https://adalab.es/" class="links-footer">Habitaciones</a>
                </li>
            </ul>
        </nav>
        <nav class="footer-2">
            <ul class="links">
                <li class="title-footer">Nosotros</li>
                <li>
                    <a href="https://adalab.es">Nuestra guía</a>
                </li>
                <li>
                    <a href="https://adalab.es">Nuestro diseño</a>
                </li>
                <li>
                    <a href="https://adalab.es">Nuestra historia</a>
                </li>
                <li>
                    <a href="https://adalab.es">Ayuda</a>
                </li>
            </ul>
        </nav>
        <nav class="footer-3">
            <ul class="links">
                <li class="title-footer">Contacto</li>
                <li>
                    <a href="">ayuda@openspaces.com</a>
                </li>
                <li>
                    <a href="https://adalab.es">Socios</a>
                </li>

                <div class="social-brand">
                    <img src="./images/brand-linked-in.svg" alt="brand-linked-in">
                    <img src="./images/brand-instagram.svg" alt="brand-instagram">
                    <img src="./images/brand-twitter.svg" alt="brand-twitter">
                </div>
            </ul>
        </nav>
        <div class="arrow">
            <a href="#start" class="arrow-short-up">
                <img src="./images/arrow-short-up.svg" alt="volver al inicio" class="arrow-icon">
            </a>
        </div>
    </div>
</footer>