<main class="page__main">

    <section class="module-1">
        <h1>Disfruta creando espacios</h1>
        <button class="button">Comprar ahora</button>
    </section>
    <section class="module-2">
        <div class="grid">
            <div class="container"></div>
            <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
            <div class="sitted-man">
                <img src="./images/icon_1.png" alt="Muñeco sentado">
                <h3>Lo que necesitas</h3>
                <p>Una línea de productos diseñados para todos tus espacios</p>
            </div>
            <div class="bio-bag">
                <img src="./images/Biodegradable bag.png" alt="Bolsa biodegradable">
                <h3>Materias primas sustentables</h3>
                <p>Todos los productos con materias primas sustentables</p>
            </div>
            <div class="guide">
                <img src="./images/Park.png" alt="Guía">
                <h3>Guía</h3>
                <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
            </div>
        </div>
        </div>
    </section>
    <section class="module-3">
        <img src="./images/go_6.png" alt="Furgoneta envío">
        <h2>Envío gratis garantizado</h2>
        <p class="envio-gratis">Envío gratis en compras desde 100</p>
        <p class="comprar-ahora">Comprar ahora</p>
    </section>
    <section class="module-4">
        <h2>Disfruta creando espacios</h2>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        <button class="button">Comprar ahora</button>
        <img src="./images/creando-espacios.jpg" alt="Cestas de baño">
    </section>
</main>