<main class="page__main">
    <section class="module-2-grid">
        <div class="grid__item--first">
            <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
        </div>
        <div class="grid__item--second">
            <img src="./images/icon_1.png" alt="Diseño espacios">
            <h3>Lo que necesitas</h3>
            <p>Una línea de productos diseñados para todos tus espacios</p>
        </div>
        <div class="grid__item--third">
            <img src="./images/Biodegradable bag.png" alt="Bolsa biodegradable">
            <h3>Materias primas sustentables</h3>
            <p>Todos los productos con materias primas sustentables</p>
        </div>
        <div class="grid__item--fouth">
            <img src="./images/Park.png" alt="Guía">
            <h3>Guía</h3>
            <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </div>
    </section>

    <section class="module-3">
        <div class="delivery">
            <img src="./images/go_6.png" alt="Furgoneta envío">
        </div>
        <h2>Envío gratis garantizado</h2>
        <p class="envio-gratis">Envío gratis en compras desde 100</p>
        <p class="comprar-ahora">Comprar ahora</p>
    </section>

    <section class="module-4">
        <div class="text-button">
            <h2>Disfruta creando espacios</h2>
            <p>Una línea de productos diseñados para todos tus espacios</p>
            <button class="button">Comprar ahora</button>
        </div>
        <img src="./images/creando-espacios.jpg" alt="Cestas baño" class="bathroom">
    </section>
</main>